/* at 428px I think the middle card to much to the left or the text should grow */
/* I want an arrow at the end of the price "button" */
.card {
    display: grid;
    grid-template-columns: 15% 45% 40%;
    padding: 20px 10px;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    gap: 5px;
    /* Due to the min-height the content childs can actually be effected. For best alignment I want them to be at the top together */
    /* min-height: 150px; */
    align-items: center;
    justify-items: center;
    position: relative;
    color: rgb(49, 49, 49);
    max-width: 700px;
}

.card__count {
    font-size: 1.2rem;
    color: hsl(0, 0%,45%);
    letter-spacing: 2px;
    margin: auto;
    width: fit-content;
    display: block;
}
.card__bookmark {
    /* Max-width: 100%; not working on svg so 100px is an arbitrary value that represent 100% */
    width: 70px;
    cursor: pointer;
}
.card__bookmark--active {
    fill: transparent;
    /* not for styling but for JS in card.js
    might want to use data-* attribute instead */
}
.card__middle {
    padding-left: 10px;
    min-width: 100%;
}
.card__middle--line {
    border-top: 3px dotted hsl(0, 0%, 72%);
    margin: 20px 0;
}
.card__middle--price {
    white-space: nowrap;
    color: hsl(120deg 50% 40%);
    font-weight: bold;
    /* Since this is an inline <a>, the padding does not grow at all. However what it does
    create a larger click area for the <a> tag. */
    padding: 20px 0 10px;
}
.card__img {
    height: 110px;
}

@media (min-width: calc(550 / 16 * 1rem)) {
/* Tablets */
    
}

@media (min-width: calc(1100 / 16 * 1rem)) {
/* Laptop */
}

@media (min-width: calc(1500 / 16 * 1rem)) {
/* Desktop */
}