/* 
mobile first media query
should be rem
@media (min-width: 400px) {

}
My inital non-media query styles should be mobile first

Margins should be rem

Minimum tap size of 44px * 44px

Use min, max, clamp; css funcitons

body text same size across all devices
headings may need to be shrunk
*/
:root {
    --font18: calc(18rem / 16);

    --primary: ;
    --secondary: ;
    --accent: ;

    --padding: ;

    --min-tap-height: 44px;
}
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
}
p, a, span {
  font-family: 'Hind', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: var(--font18);
}

h1 {
    font-size: clamp(1.5rem, 6vw, 3rem);
}
h2 {
    font-size: clamp(1.5rem, 6vw, 3rem);
}

/* Try to only change media queries with css custom properties in the :root 

for example a bigger screen size will require more border radius and --spacing
*/
a {
  text-decoration: none;
}
.wrapper__header {
  border-top: 5px solid hsl(0, 91%, 74%);
}
.logoCtr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(12rem / 16) 0;
}
.logo {
  width: 50%;
}
.logoCtr__a {
  font-size: 1.7rem;
}
/* the nav rule below has overflow-x: scroll creating a scroll context
to put absolute buttons that don't move I need them outside of a scroll context */
.noScrollContext {
  position: relative;
}
nav.scrollCtr {
  border-top: 1px solid hsl(0, 0%, 86%);
  border-bottom: 1px solid hsl(0, 0%, 86%);
  display: flex;
  /* make sure the list categories words not wrap onto another line */
  white-space: nowrap;
  gap: 15px;
  padding: 1rem 10px;
  overflow-x: scroll;
}
.scrollAnchor {
  padding: 0 1rem;
  border: 1px solid rgb(107, 107, 107);
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  transition: transform 250ms;
  position: relative;
}
.scrollAnchor::after {
  --tap-increment: -8px;
  content: '';
  position: absolute;
  top: var(--tap-increment);
  right: var(--tap-increment);
  left: var(--tap-increment);
  bottom: var(--tap-increment);
  /* My anchor was not being click instead the psuedo element was */
  pointer-events: none;
}
.scrollAnchor:hover {
  transform: translateY(-4px);
}
.scrollBtn {
  border-radius: 50px;
  border: none;
  background-color: hsla(0 0% 13% / .5);
  width: 38px;
  height: 38px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: transform 250ms, opacity 500ms;
  position: absolute;
  top: 1rem;
  z-index: 1;
}
.scrollBtn__prev {
  left: 12px;
}
.scrollBtn__next {
  right: 12px;
}
.hide1 {
  opacity: 0;
  transform: translateX(-20px);
}
.hide2 {
  opacity: 0;
  transform: translateX(20px);
}
.show {
  opacity: 1;
  transform: translateY(0px);
}
.article__top {
  margin: calc(50rem / 16) 0;
  
}
.main__h1 {
  font-size: 1.8rem;
  text-align: center;
  padding: 0 6vw;
}
.main__date {
  display: block;
  margin-top: calc(20 / 16 * 1rem);
  text-align: center;
  color: hsl(0, 0%, 60%);
  font-size: .9rem;
}
.article__list {
  padding: 0;
  border-top: 1px solid hsl(0, 0%, 70%);
}
.card {
  display: grid;
  grid-template-columns: 15% 45% 40%;
  padding: 10px;
  border-bottom: 1px solid hsl(0, 0%, 70%);
  gap: 5px;
  /* Due to the min-height the content childs can actually be effected. For best alignment I want them to be at the top together */
  /* min-height: 150px; */
  align-content: start;
  justify-items: center;
  position: relative;
  color: rgb(49, 49, 49);
}
.card__left {
  align-self: start;
  display: flex;
  flex-direction: column;
}
.card__count {
  font-size: 1.2rem;
  color: hsl(0, 0%,45%);
  /* position: absolute; */
  /* border: 1px solid hsl(0, 0%, 70%); */
  /* border-bottom-right-radius: 80px; */
  /* margin-left: -.5rem;
  padding: .2rem 1rem; */
  margin: auto;
  border-top: none;
  top: 0px;
  left: 0px;
}
.card__bookmark {
  /* Max-width: 100%; not working on svg so 100px is an arbitrary value that represent 100% */
  width: 100px;
}
.card__middle {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
}
.card__middle span {
  white-space: nowrap;
  color: hsl(120deg 50% 40%);
  font-weight: bold;
  
}
.card__middle p {

}
.card__middle .line {
  border-top: 1px dotted hsl(0, 0%, 72%);
}
.card__img {
  height: 110px;
}
@media (min-width: calc(550 / 16 * 1rem)) {
/* Tablets */
}

@media (min-width: calc(1100 / 16 * 1rem)) {
/* Laptop */
}

@media (min-width: calc(1500 / 16 * 1rem)) {
/* Desktop */
}
@media (pointer: coarse) {
    /* touch screen */
    button, input {
        min-height: var(--min-tap-height);
    }
}
@media (hover: hover) and (pointer: fine) {
/* Hover effects for mouse */  
}
.article {
  display: none;
}
.article--first {
  display: block;
}
.article:target {
  display: block;
}
.active {
  background-color: cornflowerblue;
  color: white;
}